name: Build pdf

on:
  pull_request:

permissions:
  contents: read

jobs:
  build_pdf:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: '0'

      - uses: typst-community/setup-typst@v4
      - run: typst compile ./main.typ main.pdf

      - name: Upload Release Asset - Assignment
        id: upload
        uses: actions/upload-artifact@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path: ./main.pdf
          name: main.pdf
          retention-days: 5
